@page
@model PRN222.Kahoot.Razor.Pages.Quiz.IndexModel

@{
    ViewData["Title"] = "Quiz Index";
}

<body style="background-image: url('https://firebasestorage.googleapis.com/v0/b/imageuploadv3.appspot.com/o/TestFile%2F2024_1_29_638421436218758181_background-xam.jpg?alt=media&token=55ff73e8-c4cd-4066-bcd3-14343f7705d8'); padding: 20px; border-radius: 10px;">
    <div class="text-center">
        <h1 class="mb-4" style="color: blanchedalmond;">Quiz List</h1>

        <p>
            <a asp-page="Create" class="btn btn-primary btn-lg">Create New Quiz</a>
        </p>

        <table class="table table-bordered table-hover">
            <thead class="table-light">
                <tr>
                    <th>@Html.DisplayNameFor(model => model.Quiz[0].Title)</th>
                    <th>@Html.DisplayNameFor(model => model.Quiz[0].Description)</th>
                    <th>@Html.DisplayNameFor(model => model.Quiz[0].Visibility)</th>
                    <th>@Html.DisplayNameFor(model => model.Quiz[0].CreateAt)</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Quiz)
                {
                    <tr>
                        <td>@Html.DisplayFor(modelItem => item.Title)</td>
                        <td>@Html.DisplayFor(modelItem => item.Description)</td>
                        <td>@Html.DisplayFor(modelItem => item.Visibility)</td>
                        <td>@Html.DisplayFor(modelItem => item.CreateAt)</td>
                        <td>
                            <a asp-page="./Edit" asp-route-id="@item.QuizId" class="btn btn-warning">Edit</a>
                            <a asp-page="./Details" asp-route-id="@item.QuizId" class="btn btn-info">Details</a>
                            <a asp-page="./Delete" asp-route-id="@item.QuizId" class="btn btn-danger">Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

    <div class="text-center mt-4">
        <a asp-page="Index" class="btn btn-secondary">Back to Quiz List</a>
    </div>
</body>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
