@page "{sessionId}"
@model PRN222.Kahoot.Razor.Pages.Room.DetailsModel

@{
    ViewData["Title"] = "Room Details";
}

<h2>Room Details</h2>

<table class="table">
    <tr>
        <th>Room Code:</th>
        <td>@Model.QuizSession.CodeRoom</td>
    </tr>
    <tr>
        <th>Quiz Title:</th>
        <td>@Model.QuizSession.QuizTitle</td>
    </tr>
    <tr>
        <th>Total Questions:</th>
        <td>@Model.QuizSession.TotalQuestion</td>
    </tr>
    <tr>
        <th>Total Score:</th>
        <td>@Model.QuizSession.TotalScore</td>
    </tr>
</table>

<a asp-page="/Room/Join" asp-route-code="@Model.QuizSession.CodeRoom" class="btn btn-success">Join Room</a>
